.demo-table {
  width: 100%;
}
.mat-elevation-z8 {
  border-radius: 16px;
  overflow: hidden !important;
}
.mat-column-actions {
  width: 20%;
}
.mat-column-position {
  width: 30%;
}

// .wrapper {
//   height: ;
//   overflow: auto;
// }
