@use "../breakpoints.scss" as breakpoints;

:root,
body {
  // mat toolbar
  --mat-toolbar-standard-height: 5.6rem;
  --mat-toolbar-mobile-height: 5.6rem;

  // mat input and form field
  --mat-form-field-container-height: 4.8rem;
  --mat-form-field-filled-label-display: block;
  --mat-form-field-container-vertical-padding: 1.2rem;
  --mat-form-field-filled-with-label-container-padding-top: 2.4rem;
  --mat-form-field-filled-with-label-container-padding-bottom: 1.2rem;
  --mdc-filled-button-container-height: 4rem;

  --mdc-outlined-text-field-label-text-size: 1.6rem;
  --mdc-filled-text-field-label-text-size: 1.6rem;
  --mat-card-title-text-size: 2.2rem;
  --mat-card-title-text-line-height: 2.8rem;
  --mat-card-subtitle-text-size: 1.6rem;
  --mat-card-subtitle-text-line-height: 2.4rem;
  --mat-card-subtitle-text-tracking: 0.144rem;

  --mat-badge-text-size: 1.1rem;
  --mat-badge-large-size-text-size: 1.1rem;
  --mat-badge-large-size-container-overlap-offset: -18px;
  --mat-badge-legacy-small-size-container-size: 24px;
  --mat-badge-legacy-large-size-container-size: 24px;

  --mat-checkbox-label-text-line-height: 2rem;
  --mat-checkbox-label-text-size: 1.4rem;
  --mat-checkbox-label-text-tracking: 0.0256rem;

  --mat-switch-label-text-line-height: 2rem;
  --mat-switch-label-text-size: 1.4rem;
  --mat-switch-label-text-tracking: 0.0256rem;

  --mat-menu-item-label-text-size: 1.4rem;
  --mat-menu-item-label-text-tracking: 0.0256rem;
  --mat-menu-item-label-text-line-height: 2rem;
  --mdc-list-list-item-label-text-line-height: 2.4rem;
  --mdc-list-list-item-label-text-size: 1.6rem;
  --mdc-list-list-item-label-text-tracking: 0.0496rem;
  --mdc-list-list-item-supporting-text-line-height: 2rem;
  --mdc-list-list-item-supporting-text-size: 1.4rem;
  --mdc-list-list-item-supporting-text-tracking: 0.256;
  --mdc-list-list-item-trailing-supporting-text-line-height: 1.6rem;
  --mdc-list-list-item-trailing-supporting-text-size: 0.688rem;
  --mdc-list-list-item-trailing-supporting-text-tracking: 0.0496rem;

  --mat-table-header-headline-line-height: 2rem;
  --mat-table-header-headline-tracking: 0.096rem;
  --mat-table-header-headline-size: 1.4rem;
  --mat-table-row-item-label-text-line-height: 2rem;
  --mat-table-row-item-label-text-tracking: 0.0256rem;
  --mat-table-row-item-label-text-size: 1.4rem;
  --mat-table-footer-supporting-text-line-height: 2rem;
  --mat-table-footer-supporting-text-tracking: 0.0256rem;
  --mat-table-footer-supporting-text-size: 1.4rem;

  // mat snackbar
  --mdc-snackbar-supporting-text-line-height: 24px;
  --mdc-snackbar-supporting-text-size: 16px;
  --mdc-snackbar-supporting-text-weight: 500;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);

  --mdc-elevated-card-container-elevation: var(--card-box-shadow);

  --mat-dialog-actions-alignment: flex-end;
}

.register-card,
.login-card {
  .mat-mdc-icon-button.mat-mdc-button-base {
    padding: 1rem;
    --mdc-icon-button-state-layer-size: 40px !important;
  }
}

.error-snackbar {
  --mdc-snackbar-container-color: rgb(153, 50, 50);
}

.info-snackbar {
  --mdc-snackbar-container-color: #1d5366;
  --mdc-snackbar-supporting-text-color: #f5f5f5;
}

.success-snackbar {
  --mdc-snackbar-container-color: rgb(29, 102, 29);
  --mdc-snackbar-supporting-text-color: whitesmoke;
}

mat-form-field.card-search {
  .mat-mdc-form-field-subscript-wrapper {
    height: 0;
    display: none;
  }
}

button[mat-icon-button] {
  --mdc-icon-button-state-layer-size: 4rem !important;
  padding: 1rem !important;
  mat-icon {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    line-height: 1;
    vertical-align: initial;
  }
}
